body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	min-height: 100vh;
	font-size: 18px;
}
main {
	display: flex;
	flex-direction: column;
}

main *  {
	margin: 10px
}


a {
	font-size: 26px;
	color: black;
	text-decoration: none;
}

img {
	max-width: 400px;
}

.hidden {
	display: none;
}

section {
  flex: 1 1 25%;  
}

.sk-rotating-plane {
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: #337ab7;
  animation: sk-rotating-plane 1.2s infinite ease-in-out;
}

@keyframes sk-rotating-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}